body {
    background: #48ABDA;
    font-family: 'Source Sans Pro';
    overflow-x: hidden;
}

/*
Login
*/

.login {
    .box {
        background: #fff;
        box-shadow: 2px 2px 6px #608DA2;
        padding: 25px;
    }
    form {
        margin-top: 35px;
        position: relative;
        input {
            position: absolute;
            height: 45px;
            width: 100%;
            font-size: 20px;
            font-weight: 300;
            padding: 5px 15px;
            &[type="password"]{
                opacity: 0;
                left: 1500px;
            }
        }
        .btn {
            margin-top: 50px;
        }
    }
}
